plugins{
    plugin(plugin_name){
        code = code_name                % Name of application
        template = template_file_name   % Name of template file
        show_stderr = False             % show stderr
        show_stdout = False             % show stdout
    }   
}
